.profile-ctn{
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(max-width: 760px){
        padding-top: 50px;
        padding-left: 100px;
    }

    h3{
        font-size: 1.4rem;
        color: #54129b;
    }
    .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 500px;
        margin-top: 50px;

        .profile-img{
            position: absolute;
            top: -5%;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 100px;
            border-radius: 100px;
            border: 10px solid #eee;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .user-data{
            width: 360px;
            height: 400px;
            padding-top: 60px;
            background-color: #eee;
            color: #54129b;
            border-radius: 13px;
            border: 1px solid #54129b;
            box-shadow: 0 0 50px rgba(0, 0, 0, .3);
            font-size: 1.1rem;

            p{
                font-weight: bold;
            }
            .edition{
                background-color: #54129b;
                color: #eee;
                padding: 50px 0;

                .link{
                    color: #eee;
                }
            }
        }
    }
}