.cart-div{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  -webkit-srollbar{
    display: none;
  }

  .cart-ctn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 20px;
    gap: 15px;
    width: 100%;
    padding: 50px 0;
  }
}