.item-ctn{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border: 1px solid #13032b;
    border-radius: 12px;
    width: 350px;
    min-height: 200px;
    height:210px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    .prod-img{
        display:flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        overflow: hidden;

        img{
            height: 80%;
        }
        .product-title{
        width: 100%;
        height: 50px;
        background-color:#007bff;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        padding: 5px 0;
        margin: 0;
        font-size: 1.1rem;
        }
    }
    .order-data{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eee;

        .order-amount{
            font-size: 1rem;
            font-weight: bold;
        }
    }
}
