.shop-ctn{
  width: 60%;
  margin-left: 10vw;
    .error{
        position: absolute;
        top: 10;
        left: 50%;
        width: 150px;
        height: 40px;
        color: #880000;
        background-color: #eea5ae;
        border: 1px solid #880000;
        box-shadow: 0 0 30px rgba(214, 29, 29, 0.46);
        animation: slide-down .3s ease-in;
    }
    .success{
        position: absolute;
        top: 10;
        left: 50%;
        width: 150px;
        height: 40px;
        color: #056e0a;
        background-color: #a5f8aa;
        border: 1px solid #056e0a;
        box-shadow: 0 0 30px rgba(32, 177, 41, 0.49);
        animation: slide-down .3s ease-in;
    }
    .cat{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cat-header{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            height: 20vh;
            border: 2px solid ;
            margin-bottom: 20px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
            border-radius: 13px;
            padding: 20px;
            background-color: #fff;

            div{
                h4, p{
                color: #2c0f4d;
                }
            }
        }
        .section-title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #13032b;
            color: #fff;
            margin-bottom: 20px;
            .category-title{
                border-right:2px solid #fff;
                padding-left: 10%;
                padding-right: 17%;
                cursor: pointer;
            }
            .category-title:hover{
                background-color: #9f83bd;
                color: #2c0f4d;
            }
            .category-list{
                padding-left: 17%;
                padding-right: 10%;
                cursor: pointer;
            }
            .category-list-filter{
                padding-left: 235px;
                padding-right: 100px;
                cursor: pointer;
            }
            .category-list:hover{
                background-color: #9f83bd;
                color: #2c0f4d;
            }
            .category-list-filter:hover{
                background-color: #9f83bd;
                color: #2c0f4d;
            }
            .category-list-items{
                position: absolute;
                z-index: 100;
                top: 290px;
                right: 27vw;
                width: 350px;
                background-color: #b689e4;
                color: #333;
                box-shadow:  0 0 12px rgba(0, 0, 0, 0.5);
                ul li {
                    border-bottom: 1px solid #333;
                    text-decoration: none;
                    list-style-type: none;
                    border-radius: 5px;
                    padding-top: 30px;
                    padding-bottom: 10px;
                    padding-right: 50px;
                    text-align: right;
                    :hover {
                        background-color: #887a8a;
                    }
                }
            }
            .list-invisible{
                display: none;
                transition: all 0.3s ease;
            }
            .close-btn {
                position: absolute;
                top: 3px;
                right: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                &:hover{
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}