.profile-form-ctn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #eee;
  border: 1px solid #29064f;
  border-radius: 13px;

  .profile-form-group{
    width: 100%;
    color: #29064f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    padding-bottom: 35px;
    @media(max-width: 760px){
        flex-direction: column;
    }

    label{
        width: 200px;
        text-align: left;
        @media(max-width: 760px){
            width: 90%;
        }
    }

    .form-control{
      border: 1px solid #29064f;
      width: 300px;
      height: 30px;
      border-radius: 10px;
      background-color: transparent;
      color: #29064f;
      @media(max-width: 760px){
        height: 50px;
      }
    }
  }
  .form-buttons{
      display: flex;
      justify-content: space-between;
      width: 100%;

      .auth-btn{
        width: 100%;
        height: 35px;
        background-color: #2010fa;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 5px;
        padding-bottom: 5px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        @media(max-width: 760px){
          height: 50px;
          font-size: 1.3rem;
        }
        &:hover{
            background-color: #665dda;
        }
      }
    }

}